<p
<div class="cover-user-index">
  <div class="container">
 <div class="row justify-content-left">
      <h1 class="font-weight-normal mt-5 mb-5">Follow Users</h1>
    </div>
    <table>
      <tr><th>image </th><th> name</th><th><th></th></th></tr>
    <div class="row justify-content-center">
      <% @users.each do |user| %>
       <tr><td>

        <%= link_to user_path(user) do %>


          <%= attachment_image_tag user, :profile_image, :fill ,60,60 ,fallback: "no_image.jpg", size: "60x60" %>
          <h4 class="ml-5"></h4>

        <p class="caption"></p>
        <% end %>
      </td>  <td>
      <%= user.name %></td>
        <td>フォロー数:
       <%= user.following_user.count %></td>

      <td>フォロワー数:
       <%= user.follower_user.count %></td>
           </tr>
      <% end %>
    </div>
    <%= paginate @users %>
    </table>
  </div>
</div>
