<!-- ここからサイドバー -->
<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->


<div class="col-lg-3 col-md-3" >
    <div class="overflow-wrap">
     <div class=break-word>
<div class="left" >

 <h1>User Info</h1>
 <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <table class="table table-striped">
   <tr> <th>name</th>  <th><%= @user.name %></th></tr>
   <tr><th>introduction</th><th><%= @user.introduction %></th></tr>
   <tr> <th> follows</tt><th>  <%= link_to follows_user_path(@user) do %>
      <%= @following_users.count %><% end %> </th>
  </tr>
  <tr>
    <th> followers </tt><th> <%= link_to followers_user_path(@user) do %>
     <%= @follower_users.count %><% end %>  </th>
    </tr>

     </table>
<%= link_to edit_user_path(@user), class: "btn" do%>
<i class="fas fa-user-cog"></i>
<% end %>

<h1>New book</h1>

<!-- form_with部分 -->
<%= form_with model:@book, local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book', class: "btn btn-secondary" %>

<% end %>
</div>
 </div>
  </div>

 </div>


 <div class="col-lg-8 col-md-8 offset-md-1" >  <!-- この行を追加 -->
<h1>Users</h1>
<div class="overflow-wrap">
     <div class=break-word>
<div class="right" >
<table>
  <tr>
 <th>image</th>  <th>name</th></tr> <th>  </th>


<% @users.each do |users| %>
<div>

  <tr><td>
  <p> <%= attachment_image_tag users, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  </td>
  <td>
     <p><%= users.name %></p>

  </td>
  <td>

    <span>
  <%= link_to "Show", user_path(users) %>
  </span>
  </td>
  </tr>

</div>
<% end %>
 </table>
 </div>
 </div>
  </div>
    </div>  <!-- この行を追加 -->

  </div>  <!-- この行を追加 -->
</div>    <!-- この行を追加 -->
<!-- ここまでを追加 -->