
<!-- ここからサイドバー -->
<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->


    <div class="col-lg-4" >
<div class="overflow-wrap">
     <div class=break-word>
<div class="left" >

 <h1>User Info</h1>
 <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <table class="table table-striped">
  <tr>
 <th>name</th>  <th><%= @user.name %></th></tr>
   <tr>
 <th>introduction</th><th><%= @user.introduction %></th>
 </tr>

     </table>
<%= link_to edit_user_path(@user), class: "btn btn-danger" do%>
<i class="fas fa-user-cog"></i>
<% end %>

<h1>New book</h1>

<!-- form_with部分 -->
<%= form_with model:@book, local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Creat Book', class: "btn btn-secondary" %>

<% end %>
</div>
 </div>
  </div>

 </div>



 <div class="col-lg-8">  <!-- この行を追加 -->
<h2>Books</h2> <table>
  <tr>
 <th>  </th>   <th>Title</th>  <th>Opinion</th></tr>


<% @user_images.each do |user_image| %>
<div>
 <tr>
  <td><p>
   <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  </p></td>

  <td><p><%= user_image.title %></p></td>
  <td><p><%= user_image.body %></p></td>

</div></tr>
<% end %><th>
<%= paginate @user_images %>
</th> </table>

    </div>  <!-- この行を追加 -->

  </div>  <!-- この行を追加 -->
</div>    <!-- この行を追加 -->
<!-- ここまでを追加 -->