 <% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->


    <div class="col-lg-4 col-md-4" >

<div class="overflow-wrap">
     <div class=break-word>
<div class="left" >

 <h1>User Info</h1>




 <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <table class="table table-striped">
  <tr>
 <th>name</th> <th><%= @user.name %></th></tr>
   <tr>
 <th>
  <h5>introduction</h5></th><%= @user.introduction %></tr>

     </table>
<%= link_to edit_user_path(@user), class: "btn" do%>
<i class="fas fa-user-cog"></i>
<% end %>

<h1>New book</h1>

<!-- form_with部分 -->
<%= form_with model:@book, local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book', class: "btn btn-secondary" %>

<% end %>
</div>
 </div>
  </div>

 </div>

 <div class="col-lg-8 col-md-8">  <!-- この行を追加 -->
<h1>Books</h1>



<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div class="overflow-wrap">
     <div class=break-word>
<div class="right" >
<table>
  <tr>
 <th>  </th> <th>Title</th>  <th>Opinion</th></tr>


<% @books.each do |book_image| %>
<div>

  <tr><td>
  <p><%= link_to user_path(book_image.user) do %>
     <%= attachment_image_tag book_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
     <%end%></p>
  </td>
  <td>
    <span>
  <%= link_to book_image.title, book_path(book_image) %>
  </span>

  </td>
  <td>
  <p><%= book_image.body %></p>
  </td>
  </tr>

</div>
<% end %>
 </table>
 </div>
 </div>
  </div>
    </div>  <!-- この行を追加 -->


     </div>  <!-- この行を追加 -->
</div>    <!-- この行を追加 -->